/* ----------
fonts
---------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/* ----------
global styles
---------- */
/* define custom css variables */
:root{
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-black-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0  #f8f8f8;
}
body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50); 
}
*:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.inner-shadow{
    box-shadow: var(--inner-shadow);

}
.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0)
}
.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

.align-items-center{
    align-items: center;
}

.btn-1{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--purple-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.btn-1:after{
    border-radius: 30px;
}

.wrap-effect .effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    width: 45px;
    height: 45px;
    border: 3px solid var(--purple-color);
    border-radius: 0 10px 0 10px;
    right: 5%;
    top: 20%;
    animation: spin 12s linear infinite;
}
.effect-2{
    left: 20%;
    top: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: leftBounce 3s ease-in-out infinite;
}
.effect-2 div{
    width: 3px;
    height: 3px;
    background-color: #0bfc03;
    margin: 0 3px 8px;
}
.effect-3{
    height: 150px;
    width: 150px;
    border: 20px solid #fcba03;
    border-radius: 50%;
    left: 40%;
    top: -70px;
    animation: topBounce 5s ease-in-out infinite;
}
.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #0bfc03;
    left: 11.5%;
    bottom: 18%;
    animation: spin 12s linear infinite;
}
.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #0bfc03;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -23px;
}
.effect-5{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: bottomBounce 5s ease-in-out infinite;
    right: 13%;
    bottom: 10%;
}
.effect-5 div{
    width: 1px;
    background-color: #fcba03;   
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes leftBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}
@keyframes bottomBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 50%;
    }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--text-black-300); }
  }

.section-title{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}
.section-title h2::before{
    content: attr(data-heading);
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--purple-color);  
}
.section-title h4{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
}

/* ----------
header
---------- */

header{
    background-color: var(--bg-black-50);
    margin-top: 8px;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    opacity: 85%;
}

nav {
    background-color: var(--bg-black-50);
    width: 90%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0 5px 0 3px;
    margin: 0%;
}

nav a {
    text-decoration: none;
    color: var(--text-black-700);
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 20px;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: var(--text-black-600)
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--purple-color);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    margin-top: 30px;
    text-align: center;
    color: var(--text-black-600);
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
    color: var(--purple-color);
    font-weight: bolder;
}

/* -----------
section-home
----------- */
.home-section{
    position: relative;
}

.home-section .full-screen{
    padding: 50px 0;
    min-height: 100vh;    
}

.home-section .home-section-text,
.home-section .home-section-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.home-section .home-section-text p{
    color: var(--tex-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}

.home-section .home-section-text h2{
    max-width: 37%;
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    border-right: 4px solid var(--text-black-300);
    margin: 0;
    white-space: nowrap;
    animation: 
        typing 3s steps(25) 1s forwards,
        blink-caret .75s step-end infinite;
    overflow: hidden;
}

.home-section .home-section-text h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-700);
    text-transform: capitalize;
    margin: 0;
}

.home-section .home-section-text .btn-1{
    margin-top: 30px;
}

.home-section .home-section-img .img-box{
    max-width: 400px;
    display: block;
    margin: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    padding: 15px;
}

.home-section .home-section-img .img-box img{
    width: 100%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 10px solid transparent;
}

/* -------------
about section
------------- */
.about-section{
    padding: 80px 0 0;
    min-height: 100vh;
}
.about-section .about-img{
    flex: 0 0 40%;
    max-width: 33%;
    padding: 0 15px;
}
.about-section .about-img .img-box{
    padding: 15px;
    border-radius: 0 60px 0 60px;
}
.about-section .about-img .img-box img{
    width: 100%;
    border: 10px solid transparent;
    border-radius: 0 60px 0 60px;
}

.about-section .about-info{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
}
.about-section .about-info-box{
    padding: 12px;
    border-radius: 0 30px 0 30px;
}
.about-section .about-info-p-box{
    padding: 12px;
    border: solid transparent;
    border-radius: 0 30px 0 30px;
}
.about-section .about-info p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}
.about-section .about-info span{
    font-weight: 600; 
    color: var(--text-black-900);
}
.about-section .about-info .download {
    margin-left: 10px
}
.about-section .about-info .hire-me {
    margin-left: 10px;
}
.about-section .about-info .btn-1{
    margin: 24px 14px 0 0;
}
.about-section .about-info .social-media-links{
    text-align: right;
}
.about-section .about-info .social-media-links a{
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: var(--text-black-600) ;
    text-align: center;
    line-height: 50px;
    margin: 0 6px;
    border-radius: 0 10px 0 10px;
    transition: all 0.3s ease;
}
.about-section .about-info .social-media-links a i{
    line-height: 50px;
}
.about-section .about-info .social-media-links a::after{
    border-radius: 0 10px 0 10px;
}
.about-section .about-info .social-media-links a:hover{
    color: var(--purple-color);
}
.about-section .about-tabs{
    padding: 60px 15px 50px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
.about-section .about-tabs .tabs-item{
    display: inline-block;
    margin: 0 5px 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0 10px 0 10px;
    transition: all 0.3s ease;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-black-600);
}
.about-section .about-tabs .tabs-item:hover:not(.active){
    opacity: 0.6;
}
.about-section .about-tabs .tabs-item.active{
    color: var(--purple-color);
}
.about-section .tab-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}
.about-section .tab-content.active{
    display: block;
    animation: fadeInTop 1s ease;
}
.about-section .skills{
    padding: 0 0 40px;
}
.about-section .skills .skills-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.about-section .skills .skills-item p{
    font-size: 16px;
    color: var(--text-black-600);
    text-transform: capitalize;
    margin: 0 0 10px;
}
.about-section .skills .skills-item .progress{
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--text-black-700);
    position: relative;
    margin-bottom: 35px;
}
.about-section .skills .skills-item .progress-bar{
    position: absolute;
    background-color: var(--text-black-700);
    height: 6px;
    border-radius: 10px;
}
.about-section .skills .skills-item .progress-bar span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--purple-color);
    margin-top: -40px;
}
.about-section .education{
    padding: 10px;
}
.about-section .timeline{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.about-section .timeline::before{
    content: '';
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: var(--bg-black-100);
    position: absolute;
}
.about-section .timeline .timeline-items{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}
.about-section .timeline .timeline-items:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}
.about-section .timeline .timeline-items:nth-child(even){
    padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-items .inner{
    padding: 30px;
    border-radius: 10px;
    position: relative;
}
.about-section .timeline .timeline-items .inner::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    top: 35px;
    background-color: var(--bg-black-100);
}
.about-section .timeline .timeline-items:nth-child(odd) .inner::before{
    right: -28px;
}
.about-section .timeline .timeline-items:nth-child(even) .inner::before{
    left: -28px;
}
.about-section .timeline .timeline-items .inner .icon{
    height: 40px;
    width: 40px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-100);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    position: absolute;
    color: var(--purple-color);
    top: 14px;
}
.about-section .timeline .timeline-items:nth-child(odd) .icon{
    right: -70px;
}
.about-section .timeline .timeline-items:nth-child(even) .icon{
    left: -70px;
}
.about-section .timeline .timeline-items .inner span{
    font-size: 18px;
    font-weight: 500;
    color: var(--purple-color);
    display: block;
    margin: 0 0 10px;
    text-transform: capitalize;
}
.about-section .timeline .timeline-items .inner h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}
.about-section .timeline .timeline-items .inner h4{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 5px;
    text-transform: capitalize;
}
.about-section .timeline .timeline-items .inner p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0 0 5px;
}

.content {
    max-height: 50%
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    text-align: center;
  }

  .mySlides img {
      max-height: 60%
  }

  
  /* Next & previous buttons */
  .prev, .next {
    background-color: var(--bg-black-50); 
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--purple-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0px 4px 0px 4px;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 0px 4px 0px 4px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  
  .prev:hover, .next:hover {
    border-radius: 0px 4px 0px 4px;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .activeDot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--purple-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* -------------
services section
------------- */
.services-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.services-section .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.services-section .service-item-inner{
    width: 100%;
    padding: 40px 10px;
    border-radius: 0 20px 0 20px;
    text-align: center;
}
.services-section .service-item-inner .icon{
    display: block;
    margin: 0 auto 30px;
    width: 60px;
    height: 60px;
    border-radius: 0 20px 0 20px;
    text-align: center;
    transition: 0.3s ease all;
    position: relative;
}
.services-section .service-item-inner .icon:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 20px 0 20px;
    transition: 0.3s ease all;
}
.services-section .service-item-inner:hover .icon{
    box-shadow: var(--inner-shadow-0);
}
.services-section .service-item-inner:hover .icon::after{
    box-shadow: var(--outer-shadow);
}
.services-section .service-item-inner .icon i{
    font-size: 20px;
    line-height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: 0.3s ease all;
}
.services-section .service-item-inner:hover .icon i{
    color: var(--purple-color);
}
.services-section .service-item-inner h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    padding-bottom: 15px;
    text-transform: capitalize;
}
.services-section .service-item-inner p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    line-height: 26px ;
}
/* -------------
contact section
------------- */
.contact-section{
    padding: 80px 0 80px;
}
.contact-section .contact-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}
.contact-section .contact-item-inner{
    width: 100%;
    padding: 40px 10px;
    border-radius: 0 20px 0 20px;
    text-align: center;
}
.contact-section .contact-item-inner .icon{
    display: block;
    margin: 0 auto 15px;
    width: 40px;
    height: 40px;
    border-radius: 0 10px 0 10px;
    text-align: center;
    transition: 0.3s ease all;
    position: relative;
}
.contact-section .contact-item-inner .icon:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0 10px 0 10px;
    transition: 0.3s ease all;
}
.contact-section .contact-item-inner:hover .icon{
    box-shadow: var(--inner-shadow-0);
}
.contact-section .contact-item-inner:hover .icon::after{
    box-shadow: var(--outer-shadow);
}
.contact-section .contact-item-inner .icon i{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 5px;
    transition: 0.3s ease all;
}
.contact-section .contact-item-inner:hover .icon i{
    color: var(--purple-color);
}
.contact-section .contact-item-inner h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    padding-bottom: 10px;
    text-transform: capitalize;
}
.contact-section .contact-item-inner p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    line-height: 26px ;
}